[2016-08-26 10:31] mudrd8mz opened #1 "Returns to server root, not the moodle root after successful login"
[code]
I found this not expected behaviour if the Moodle is not installed in the root of the web server. It seems it should better be like

    return new moodle_url('/');

[2016-08-26 10:35] mudrd8mz opened #2 "Why is auth/userkey:generatekey granted to managers by default?"
From my understanding, this capability is supposed to be granted to the user that represents the external app using this auth method. Just wondering what is the use case for granting this to managers (or actually any human users).

[2016-08-27 04:28] dmitriim commented on #2
Hi David,

Actually this permission should be granted to a web service user(s) as a keys gets generated by a web service call. So once you create a token for a user, this user has to have this permission to generate keys.

I'll update the plugin documentation.

[2016-08-27 04:30] dmitriim commented on #1
Good catch!

[2016-08-27 04:52] #1 closed

[2016-08-27 05:01] #2 closed

[2016-08-27 06:18] dmitriim opened #5 "Abstract key validation to a key manager class"

[2016-08-27 11:41] dmitriim commented on #5
Fixed in #6

[2016-08-27 11:41] #5 closed

[2017-04-10 00:10] dmitriim opened #10 "Unpredictable user matching if $CFG->allowaccountssameemail is enabled"
Issue to investigate and solve possible issues when $CFG->allowaccountssameemail is enabled and we select matching field as email.

[2017-04-10 00:46] dmitriim opened #11 "Refactor create and update users to make some code more generic and reusable"

[2017-04-10 01:13] dmitriim opened #12 "Implement logout webservice to be able to call it from external application."

[2017-04-10 01:24] dmitriim opened #13 "Test on Moodle 3.2, add travis settings to support Moodle 3.2"

[2017-05-15 05:49] #13 closed

[2017-05-30 03:37] geshwin commented on #13
Hi,
Does this plugin works with Moodle 3.3+ (Build: 20170525)?

On Dashboard / ► Site administration / ► Plugins / ► Authentication / ► Manage authentication

It's missing the setting button.

Thanks?

[2017-06-07 21:12] cyust opened #15 "Settings screen is missing on Moodle 3.3"
I downloaded the latest (version 2017051500) of the User Key Authentication plug-in and installation was successful on Moodle 3.3 with no error messages.  However, the Settings page is missing from the "Authentication" Plug-in menu, so I am unable to configure & use the plugin.

See also similar comment from other user on https://github.com/catalyst/moodle-auth_userkey/issues/13.

I can provide sc

[2017-06-07 23:33] brendanheywood commented on #15
Yes the authenticate api for the settings change in 3.3 so now it's consistent with all other plugins. It's way way better but also is a bit of a hassle for every auth plugin to now swap over. I don't think any of our current clients will be using this on 3.3 any time soon, so if you'd like to sponsor this work please contact us: https://www.catalyst-au.net/contact-us

[2017-06-07 23:34] brendanheywood commented on #13
hi @geshwin please see https://github.com/catalyst/moodle-auth_userkey/issues/15#issuecomment-306955454

[2018-01-10 21:02] matthewzchanneleyes commented on #15
Hi. I've never used Moodle before nor do I know anything about its plugin architecture or PHP for that matter. However, this plugin appears to be the solution to a very common user experience request for third-party vendors so I'm curious how hard it would be for the community to upgrade it to 3.3.

What is the effort involved in upgrading this plugin to 3.3?

Can a non-PHP developer or Moodle-dom

[2018-01-10 22:23] brendanheywood commented on #15
The admin settings api for auth plugins was missed when moodle changed this api many version ago. Recently this was corrected and so all auth plugins need to be fixed. The changes are relatively straight forward but just a little tedious.

Roughly the steps are:

1) Remove the settings.html file and replace it with it's equivalent using the new api. Here is an example in another plugin:

https://g

[2018-01-16 16:14] hoz1982 commented on #15
Hi guys, I tried to write a new settings.php that uses the new api.
By the way, I'm still getting an "exception":"invalid_parameter_exception","errorcode":"invalidparameter" error while trying to connect my test user to the moodle platform. Please find the attached settings.php, I also uploaded it in a new fork of this project.
Thank you
Alex
[https://github.com/hoz1982/moodle-auth_userkey/commit/

[2018-01-16 22:33] brendanheywood commented on #15
thanks @hoz1982 can you please turn that into a pull request so it's easier for us to process?

I suspect that error you are getting is unrelated and possibly the parameter you are sending is simply invalid, we'd need much more info to debug that one.

[2018-01-17 08:27] hoz1982 commented on #15
Thank you @brendanheywood , I made a new pull request fot the settings.php file.
About the error I'm getting, this is the code I'm trying to run:
`<?php
function getloginurl($useremail, $firstname, $lastname, $username, $ipaddress, $courseid = null, $modname = null, $activityid = null) {
require_once('/var/www/html/curl.php');
$token        = 'eb1f5fa2d29da21975e9bb68d32c62b2';
$domainname   = 'ht

[2018-01-17 08:51] hoz1982 commented on #15
@brendanheywood problem fixed passing just the email, thank you :) By the way, I found a small issue in setting the keylifetime, I used a select to set it, but if I select '60' the key expire in a moment, else selecting '10' it lasts 10 seconds.... maybe turning it in a configtext settings will fix it

[2018-01-23 16:33] matthewzchanneleyes commented on #15
@hoz1982 I'm also getting "Invalid parameter value detected" error now. What does your **$params** look like now (given you said you got it to work with the email)?

`{
"exception": "invalid_parameter_exception",
"errorcode": "invalidparameter",
"message": "Invalid parameter value detected",
"debuginfo": "Missing required key in single structure: user"
}`

Thank you in advance.

[2018-01-23 16:40] hoz1982 commented on #15
Hi!
you have to just pass the email, like this:

$param = [
'user' => [
'email' => $useremail
]
];

Remember to also select "email" as mapping field value in the config page of the plugin :)

[2018-01-23 17:31] matthewzchanneleyes commented on #15
Thank you, @hoz1982. I attempted what you suggested and I still got the same error message:

**Missing required key in single structure: user**

I am using Ruby. The error message makes it sound like I am not passing my **$param** object to the web service correctly. Essentially I am passing a JSON representation of that PHP **$param** array object as the body of the HTTP POST message which looks

[2018-01-23 17:33] hoz1982 commented on #15
Hi @matthewzchanneleyes have you tried just with the email? eg {"user":{"email":"abc@123.com"}}

[2018-01-23 17:42] matthewzchanneleyes commented on #15
Yes, @hoz1982. I did try that to no avail. So intriguing.

[2018-01-23 18:07] matthewzchanneleyes commented on #15
WORKING NOW!

I solved it by encoding the HTTP POST body like so:

`user[username]=abc@123.com`

OR

`user[email]=abc@123.com`

They both work in my case and the implementation is brilliant.

@hoz1982 I greatly appreciate your efforts in upgrading to Moodle 3.4 for the community. Cheers!

[2018-01-29 01:47] dmitriim commented on #15
This feature has just landed to MOODLE_33PLUS branch. Thanks @andrewhancox for contribution.

[2018-01-29 01:47] #15 closed

[2018-03-14 04:38] Cerberus-Zer0 opened #26 "Auth method gets set to "userkey" when updating a user"
Hi,

I’m trying to authenticate users through our web application. So far I have been successful in authenticating a user the first time however when the user token is created and they are authenticated, Moodle changes the student’s authentication method from Manual to User key authentication.

This in turn disables the password so next time the web app tries to receive a token, it fails as the pa

[2018-03-27 13:54] delvon opened #27 "Still getting the error - Missing required key in single structure: user. I can pay if I can get it working PLEASE"
I am urgently in need of some help to get this plugin working for me. I have tried the examples in #15 but still getting the error above. I am using this on Moodle 3.4 if that helps. Also I have set the mapping field to username and also tried it on email. I also tried passing just one param.

Am not sure if I don't understand this plugin properly but here is part of my code below:

function getlo

[2018-03-28 00:23] dmitriim commented on #27
Hi @delvon !

It's sad to hear that you are having issues with the plugin.

I believe something could be messed up in your curl class that you are using. Error says that you moodle doesn't get required request structure. That means that you doesn't send parameters in a way that moodle expects it to see.

Also you probably don't need ip adress in your param array.

[2018-03-28 01:21] dmitriim commented on #27
Also please feel free to contact Catalyst IT, if you require help with your code https://www.catalyst-au.net/content/contact-us

[2018-03-28 01:21] #27 closed, assigned to nobody

[2018-03-28 05:21] dmitriim commented on #26
HI @leddy86,

If you have Update user option is set to Yes, then this would happen. Try to disable it.
I'll mark this issue as a bug for now.

[2018-03-28 05:23] dmitriim commented on #26
Probably we don't want to update users if they were not created using "userkey" auth method.

[2018-03-28 11:27] delvon commented on #27
Hi dmitriim,

I don't think any thing can be wrong with the cURL class because I downloaded it from the ws clients example that is suggested and also used the example that you have.

This is the only issue i've got and don't think this trivial stuff is something to contact a partner for.

[2018-03-28 21:03] delvon commented on #27
I have resolved this now:
1. A single param was passed as : "&user[username]=?????"
2. to be able to pass more than one parameters the authentication setting in the site you are trying to access has to be set to update users. You would then use a structure e.g.
"&user[username]=?????&user[email]=?????&user[firstname]=?????&user[lastname]=??????"

[2018-03-28 22:13] dmitriim commented on #27
Hi @delvon! Glad that you resolved yout issue. I have updated the plugin and its readme file and put a note that the code example provided is not for production use, but for testing only.

[2018-04-11 08:48] hoz1982 commented on #27
@delvon Sorry m8, I was out of office and couldn't help... I'v read the message just now.
Happy you found the solution btw :)

[2018-04-26 14:04] SAHellauer opened #28 "User created but not confirmed"
In settings, if you set  "Create User" to "On" and login in using the link below the user is created but not confirmed.

Would it be possible confirm the user during creation, similar to the external authentication plugin?

[2018-04-26 23:29] dmitriim commented on #28
@SAHellauer could you please let me know the version of your Moodle.

[2018-04-27 00:54] SAHellauer commented on #28
Version 3.4.2+

[2018-04-27 00:58] dmitriim commented on #28
@SAHellauer Thanks! We will have  a look on this issue when we get a chance. Please feel free to submit a pull request if you have patch for this issue.

[2018-04-30 15:28] andrewhancox commented on #28
I've just experienced this issue on a client site and it's caused a lot of users to be deleted.

[2018-04-30 20:48] SAHellauer commented on #28
By default, the Moodle cron job deletes unconfirmed users 7 days from the date their account was created. You can disable this scheduled task in site administration.

[2018-05-01 08:13] andrewhancox commented on #28
I've disabled the task already and applied this patch - I'm now working on a script to retrieve all possible data from the log table... Fun...

[2018-05-02 01:04] dmitriim commented on #28
The patch has been released. @SAHellauer @andrewhancox please pull the latest version.
Thank you for your contribution.

[2018-05-02 01:04] #28 closed, assigned to nobody

[2018-06-06 00:42] dmitriim opened #31 "Make the plugin compatible with Moodle 3.5"

[2018-06-19 15:12] miguelurtado commented on #12
+1

[2018-06-26 02:03] iyasilias opened #32 "Expand to enrollment"
Hi,

I hope this plugin can be expand into enrollment. (auto-enrollment based-on external data).

[2018-06-26 03:16] dmitriim commented on #32
@iyasilias this likely will never happen as this plugin is just an auth plugin. But if you have any specific requirements please feel free to contact us https://www.catalyst-au.net/contact-us and we can discuss what could be done in your case.

[2018-06-26 03:16] #32 closed, assigned to nobody

[2018-07-31 16:30] cneilvillarroel commented on #31
i am using this plugin with moodle 3.0 successfully, but it dont work on my moodle 3.5 :'(
is this incompatible yet with 3.5?

[2018-07-31 22:59] dmitriim commented on #31
Hi @cneilvillarroel,

Thank you for using this plugin, but "it dont work on my moodle 3.5"  is way too broad description. Could you please be more specific about issues you are having.

Also please make sure that you use the latest version of the plugin from https://moodle.org/plugins/pluginversions.php?plugin=auth_userkey!

[2018-08-01 15:28] cneilvillarroel commented on #31
@dmitriim thank you so much !! i resolved my issues with your answer, regards !

[2018-08-01 23:41] #31 closed, assigned to nobody

[2018-08-28 10:39] deva199 commented on #15
Hi hoz,
the code you have written... where you locate it within moodle source ?
https://github.com/catalyst/moodle-auth_userkey/issues/15#issuecomment-358231970

[2018-10-19 16:18] buddhabackpacker opened #33 "Documentation incorrect somewhere"
The documentation lists mapping to username, email address, or ID number.  However the Webservice API states that the function auth_userkey_request_login_url only accepts an idnumber as a parameter.   I have tried passing the others and get an incorrect parameter error.   In the example client at the bottom of the intro screen, idnumber is not even included in the code as an option.  Is this just

[2018-10-21 22:19] dmitriim opened #34 "GDPR"
Add a privacy provider to make plugin inline with GDPR.

[2018-10-21 22:20] dmitriim commented on #33
Hi @buddhabackpacker

This is a common thing I have seen over the years working with Moodle. People often get confused by "id" and "idnumber" fields. Basically "id" is an internal auto generated unique number and "idnumber" is a field reserved for integrations (usually it gets used to store data to be able to match users in external system, when users are created in the external system fist). The

[2018-10-21 22:20] #33 closed, assigned to nobody

[2018-10-22 19:36] buddhabackpacker commented on #33
Thank you dmitri.  I get the different use of variables.   It's just that if you want to use the input variable as a search parameter then you have to alter it's name.  The function just uses whatever variable comes in.   So if anyone ever wants to search by ID, they need to alter the variable similarly to what I have done.
Thank you!

[2018-11-02 15:39] jtsafran opened #35 "When logging in, if session already exists, the login is attached to the old user/session"
This seems to have happened sometime between 2016092600 and 2017051503.

Steps to reproduce:
In the 2016092600 version of the plugin installed to Moodle 3.1:
1) Log User A into Moodle (GUI or via auth_userkey, both work)
2) Call auth_userkey_request_login_url with username = User B
3) Follow URL returned in step 2
4) You are logged in as User B, as expected

In the 2017051503 version of the plugin

[2018-11-02 16:00] jtsafran commented on #35
The culprit is 3 lines in the public function user_login_userkey():

if (isloggedin()) {
    $this->redirect($redirecturl);
}

Looks to be looking for a login to already exist and if it does, it just redirects to the redirect URL instead of warning or logging in the new user.  Confirmed if I remove those, the new user gets logged in, as expected

[2018-11-04 12:11] dmitriim commented on #35
Hi @jtsafran

Thank you for reporting this issue.

It doesn't look like security issue with the plugin. The plugin implements very simple SSO model. Your application needs to manage this scenario and make sure that you logged out users from moodle when they are no longer logged in in your application. That's why I remove your label "SECURITY ISSUE" and will treat this issue as Enhancement. I agree

[2018-11-04 12:15] dmitriim commented on #35
One of the option is a logout webservice which is in TODO list https://github.com/catalyst/moodle-auth_userkey/issues/12

[2018-11-29 14:44] jtsafran commented on #35
Dmitrii,

Without a logout call available (yet, as noted above with TODO https://github.com/catalyst/moodle-auth_userkey/issues/12), or a call to check for an existing session, I can't see a good way to have a 3rd party app could manage this scenario.

I don't think the expected behavior of a login call should be a successful login if you are logging the passed user into another profile.  It eithe

[2018-11-29 22:57] dmitriim commented on #35
@jtsafran thanks for your comment.

As I said before I agree that the plugin could be improved, but adding extra text to documentation is not a good way to do that.

Feel free to submit a patch to help to improve the plugin. I'm ok with both "logout call back"  or "to fail (or at least warn) or it needs to login". To be honest I recon they both need to be in the code.

Anyway if you don't treat lo

[2019-01-30 07:55] bradvin opened #36 "Access control exception"
Hi - thanks for providing this plugin. I am new to Moodle and I think I am struggling to get all the setup steps complete in order to get the plugin working.

When I access the endpoint through postman, I get the following returned:

`
{
    "exception": "webservice_access_exception",
    "errorcode": "accessexception",
    "message": "Access control exception",
    "debuginfo": "You are not allow

[2019-01-31 02:26] dmitriim commented on #36
Hi @bradvin
Make sure that you have configured your site to use webservices. See https://docs.moodle.org/36/en/Using_web_services

[2019-01-31 02:26] #36 closed, assigned to nobody

[2019-05-13 15:37] steveatdmtd opened #37 "auth_forcepasswordchange is set, error "You cannot proceed without changing your password, however there is no available page for changing it.""
We are using auth_userkey on moodle 3.5 Linux (ubuntu) and it is working great. One issue that we are facing is that when a user on our site clicks on a link to the moodle site, the site successfully gets a token and logs in but when the user account is then created on that moodle site, "auth_forcepasswordchange" is set as a user preference which then results in an error message: "You cannot proce

[2019-05-16 21:58] dmitriim commented on #37
Hi @steveatdmtd,

We didn't see someone reports this issue before. I was looking at the code and can't see why this could happen.

Are you sure that you are not using any other customisation that could set auth_forcepasswordchange to 1 for new users? Also can you be more specific about core line you changed to "hack" moodle to fix that? This can help me to track it down.

Also do you send a passwo

[2019-05-16 23:43] dmitriim commented on #37
By the way I wasn't able to replicate this issue using vanilla moodle 3.5.6 and the latest version of the plugin.

[2019-05-26 12:15] nileshnpathade opened #38 "not working redirect to login url"
Hi I am unable to redirect to login page after geting url.

[2019-05-26 21:40] dmitriim commented on #38
Hi @nileshnpathade
I'm not quite sure why you can't redirect as you provide so little information. Please make sure that you follow instructions provided https://github.com/catalyst/moodle-auth_userkey/blob/MOODLE_33PLUS/README.md

[2019-05-26 21:40] #38 closed, assigned to nobody

[2019-05-26 21:41] dmitriim commented on #37
@steveatdmtd can you please provide more info about how to replicate this issue?

[2019-06-13 17:37] jsanchezieu commented on #35
Hi,
I've tried to send a little change, this helps to check if exists a previous session and if session userid corresponds to the userid from the loginurl.
And working on a kind of logout.
How can I send a push request?
Thanks.

[2019-06-24 19:49] danielddltellez opened #40 "Access by url moodle"
I can generate an access url, with this plugin.

My problem is that I need to give users access to a url, without registering their access data.

If possible, how can I configure it?
Thank you

[2019-06-24 23:33] dmitriim commented on #40
Hi @danielddltellez

Thank you for using the plugin. I'm not sure what you mean by "without registering their access data." But if you would like commercial support please contact us: https://www.catalyst-au.net/contact-us

Cheers,
Dmitrii

[2019-06-24 23:33] #40 closed, assigned to nobody

[2019-06-25 13:41] danielddltellez commented on #40
enter the platform by URl

[2019-06-25 13:42] danielddltellez commented on #40
all user

[2019-07-24 14:18] danielddltellez opened #41 "Timeout error 30 seconds"
Because it takes to enter moodle, it shows error after 30 seconds. How can I solve it, will it be the curl?

/**
 * @param   string $useremail Email address of user to create token for.
 * @param   string $firstname First name of user (used to update/create user).
 * @param   string $lastname Last name of user (used to update/create user).
 * @param   string $username Username of user (used to upd

[2019-07-24 21:53] dmitriim commented on #41
Hi @danielddltellez
Thank you for using this plugin.
First of all you should figure out why your request takes 30 seconds. It shouldn't be that long on normally working moodle instances.

[2019-07-24 21:54] dmitriim commented on #37
@steveatdmtd any chance you can provide more information?

[2019-07-26 12:24] lapega opened #42 "Invalid key"
I have moodle working fine with this plugin, but then migrated to a new server.

Now, when I use the function 'auth_userkey_request_login_url' it gives an good looking url, but when trying to access, Moodle says 'invalid key'.

What could be wrong?

Thanks!!!

[2019-07-26 12:27] lapega commented on #42
If I generate a new token, then I got this error:

[2019-07-26 14:30] #42 closed, assigned to nobody

[2019-09-18 22:52] DanielSunami opened #43 "Unable to POST any other attribute besides required ones"
When sending a POST with
[code]
Works but if I add `department` or `city` I get `invalid_parameter_exception` invalid value.

[code]

I'm making the request on nodejs with native https request.
If someone can help I greatly appreciate it.

[2019-09-18 22:58] dmitriim commented on #43
Hi @DanielSunami

department and city fields are not supported at the moment. Please feel free to submit a patch for that or contact us if you'd like to sponsor this feature https://www.catalyst-au.net/content/contact-us

[2019-09-18 23:00] dmitriim commented on #41
closing this one as I can't replicate it. Most likely the issue in the moodle instance itself.

[2019-09-18 23:00] #41 closed, assigned to nobody

[2019-10-08 07:26] lukepass commented on #35
Hello, unfortunately this is quite a problem for our application since the users need to be logged out before logging in again. Is there any band-aid solution?

Thanks.

[2019-10-08 08:06] dmitriim commented on #35
@lukepass  there is an open pull request to fix this issue https://github.com/catalyst/moodle-auth_userkey/pull/39
However it needs some more work until we can integrate it. Please feel free to pick it up and finish it.

[2019-11-02 06:22] s-c-soma commented on #27
Hi,

Has anyone solved the issue for python request post API call?
I am trying to create a user from my python application but getting exception "**Missing required key in single structure: courses**". Can anyone please help me to resolve this issue?

My code:
import request
token = "xxxxxxxxxx"
function='core_user_create_users'
url = 'http://localhost/webservice/rest/server.php?wstoken={0}&wsfunc

[2019-11-03 21:06] #37 closed, assigned to nobody

[2019-11-03 21:06] dmitriim commented on #37
Closed as can't reproduce.

[2020-02-07 16:45] cguyer opened #47 "Moodle Versions Supported"
Would there be any reason this plugin would not be supported by Moodle 3.6+
As of now the support is only listed up to 3.5 on https://moodle.org/plugins/auth_userkey

[2020-03-12 10:32] shrik411 opened #48 "Is there any way to assign role to newly created user?"
@dmitriim Thanks for the plugin, working great for me.
I am trying to assign role to the newly created user, is it possible through this plugin ?

[2020-03-15 21:08] dmitriim commented on #48
Hi @shrik411 !
This is the authentication plugin and not an enrolment plugin, hence no role assignment.

[2020-03-15 21:08] #48 closed, assigned to nobody

[2020-03-19 21:15] zamacona commented on #47
Please update it.

[2020-03-19 21:43] dmitriim commented on #47
@cguyer @zamacona Sorry. The upgrade for this plugin is not in  the current work pipeline for us. But if you'd like to sponsor it, please reach out https://www.catalyst-au.net/contact-us

[2020-03-25 12:03] shrik411 commented on #48
Thanks @dmitriim  for your reply. I was looking for a solution where I can at the time of creating record in database I can assign the roles to user so that any user who jumps to moodle from core system will have required capablities.
I figured out solution using other services.
Again thanks for your time and appreciate reply.

[2020-04-06 16:01] bobper opened #49 "From laravel to moodle "exception":"webservice_access_exception","errorcode":"accessexception""
Hi
this is my code
` $token        = '1----------------9';
            $domainname   = 'https://rijisoft.ir/lms';
            $functionname = 'auth_userkey_request_login_url';
            $param = [

                'user'=>['firstname'=>'First','lastname'=>'Last','username'=>'admin','email'=>'john@gmail.com','idnumber'=> '2', ]
            ];

            $serverurl = $domainname .

[2020-04-06 18:12] dmitriim commented on #49
Hi @bobper  it feels like you didn't configure your moodle correctly to use the webservices. Please see https://docs.moodle.org/38/en/Web_services

[2020-04-06 18:12] #49 closed, assigned to nobody

[2020-04-07 04:39] bobper commented on #49
Hi @dmitriim  , thanks
default protocol for this package is RPC? ?

[2020-05-08 09:53] dmitriim commented on #47
The plugin should work fine in Moodle up to 3.9

[2020-05-08 09:53] #47 closed, assigned to nobody

[2020-05-08 09:54] dmitriim commented on #34
Fixed as part of https://github.com/catalyst/moodle-auth_userkey/pull/51

[2020-05-08 09:54] #34 closed, assigned to nobody

[2020-05-08 09:54] dmitriim commented on #35
That should be fixed now as part of https://github.com/catalyst/moodle-auth_userkey/pull/46

[2020-05-08 09:54] #35 closed, assigned to nobody

[2020-05-08 11:02] dmitriim commented on #26
I think it's actually not a bug, but a incorrect usage of the plugin in this particular case.

So you are trying to log in a user using a user name and a password to get a token, then you try to login the same user using this plugin with enabled update feature.

It seems like you should create a service user instead and get a token or generate webservice token just for generating login keys your u

[2020-05-08 11:04] dmitriim commented on #10
Most likely the it will explode when we try to mach by email with $CFG->allowaccountssameemail set to true and multiple users with the same email in the DB.

Because of https://github.com/catalyst/moodle-auth_userkey/blob/MOODLE_33PLUS/auth.php#L412

[2020-05-08 13:20] dmitriim commented on #12
This as been implemented as part of https://github.com/catalyst/moodle-auth_userkey/pull/52

Now you can redirect users to logout URL like  http://yourmoodle.com/auth/userkey/logout.php?return=www.google.com

[2020-05-08 13:20] #12 closed

[2020-05-13 17:18] minholi opened #53 "Undefined externalservice shortname"
To be able to create access tokens it's needed to call this:

https://yourmoodlesite.com/login/token.php?username=foo&password=bar&service=auth_userkey

The variable **service** points to the **webservice shortname**, so I need to set it manually on moodle database by using this query:

`update mdl_external_services
set shortname = 'auth_userkey'
where	component = 'auth_userkey';`

[2020-05-13 23:06] dmitriim commented on #53
Hi @minholi
Thanks for reporting. This could be fixed by adding 'shortname' to  the service declaration in  db/services.php
Please feel free to submit a patch.

[2020-05-25 21:51] miguelurtado opened #54 "Customize function loginpage_hook to redirect Requested URL"
Suggestion: create settings and change function loginpage_hook to send wantsurl as parameter to return in API login URL.

[code]

Thanks for this plugin!

[2020-05-25 22:54] dmitriim commented on #54
@miguelurtado thanks for the suggestion.
Can  you please describe the user case you would need this for better understanding?
And please feel free to submit a proper patch.

[2020-06-17 09:19] vinchenntu commented on #49
You need to enable the installed plugin.
Site administration -->  Plugins
Click Category: Authentication
search User key authentication  and click enabled

[2020-06-17 23:35] dmitriim commented on #49
@bobper please see readme for all required configurations https://github.com/catalyst/moodle-auth_userkey/blob/MOODLE_33PLUS/README.md

[2020-07-29 18:51] jtsafran opened #55 "Suspended Users can still login"
Confirmed in both Totara 12 and Moodle 3.8.  If a user's profile has the suspended flag set, the flag is ignored and the user is able to login.

The intent is probably to pair this call with core_user_get_users and check the suspended flag and never make the API call to log the user in in the first place, however, it makes sense to make sure the user is not suspended when following the login URL.

[2020-07-29 23:12] dmitriim commented on #55
Hi @jtsafran  thank you for reporting this one. Please feel free to submit a patch for fixing it.

[2020-08-12 14:18] harshild opened #56 "User not getting created if it doesn't exist"
We are using `userkey` authentication to authenticate users. However, when a new user email is provided it does not create a new user. I have enabled `create_user` from plugin settings.

Is there something I am missing? Or is it a bug? Or is it how it is expected to work?

Moodle version: Moodle 3.9.1+ (Build: 20200807)

[2020-08-12 23:13] dmitriim commented on #56
Hi @harshild
We haven't got any complains so far about user creation functionality as well as we haven't tested the plugin in 3.9. You'd need to spend more time investigating why it doesn't work for you, maybe check the errors, check all settings and make sure that all required data is getting send. Without additional information it's hard to tell why it doesn't work for you.

[2020-08-12 23:13] #56 closed, assigned to nobody

[2020-08-13 20:29] harshild commented on #56
Okay, so I will try to include as much as information I can gather. Please let me know if I am doing something incorrectly,

1. I have set `create_user ` to `Yes` from the plugin settings
2. `https://mdmom.org/learning/webservice/rest/server.php?wstoken=<TOKEN>&wsfunction=auth_userkey_request_login_url&user[email]=<NEW_USER_EMAIL>`

So when I use this URL with the user email on the file, I receive

[2020-08-13 22:45] dmitriim commented on #56
Seems like you are missing required last name and firstname for a user to be created.

[2020-08-14 08:30] Colir opened #57 "Security misunderstood"
Hi.
I think i misunderstand something in the use of this great plugin.

Perhaps, my use context can help.

I make an mobile app, i want that my user can acces to their moodle account.
The use flow is this one:

1- on the app, the user fill is email and password of his moodle account.
2- This fields are send to my php file which call the getloginurl() method.
3. If the method return a loginurl, i s

[2020-08-16 23:51] dmitriim commented on #57
Hi @Colir !

This plugin wasn't designed to be used for mobile apps (not saying that it couldn't be used for that). So it's completely up to you to pick the way to fit it in your app or not. it's out of scope for this plugin support to provide any advice on designing your app.

If you require any help with Moodle integrations, please contact us https://www.catalyst-au.net/contact-us and we can dis

[2020-08-16 23:51] #57 closed, assigned to nobody

[2020-08-18 02:48] harshild commented on #56
It worked!
Thanks

[2020-09-14 06:00] ankitkatmore opened #58 "ASP.net SSO"
Hello Team,

I have added the plugin and enabled web services. Plugin setup is done.  i have setup the email field on moodle.  How can i match the email address from asp.net to moodle or does that work automatically from uniquekey. Can you please suggest more on this.

[2020-09-14 06:05] dmitriim commented on #58
Hi @ankitkatmore
Everything you need should be documented in https://github.com/catalyst/moodle-auth_userkey/blob/MOODLE_33PLUS/README.md

[2020-09-14 06:05] #58 closed, assigned to nobody

[2020-09-14 06:18] ankitkatmore commented on #58
Can you suggest more on the user email address that i need to use on asp.net website. I have concern on login URL with email address. Do i need to generate login URL from the function on documentation? Please let me know.

[2020-09-14 23:27] dmitriim commented on #58
Hi @ankitkatmore
Unfortunately this kind of support is out of the scope of github issues for this plugin as it requires more understanding of your requirements and etc. If you need extensive help, please contact us on https://catalyst-au.net/contact-us and we can discuss what can be done to help you.

[2020-10-15 09:17] amenk opened #59 "Add moodle id as matching field"
Would it make sense to add the id as matching field?

\auth_plugin_userkey::get_allowed_mapping_fields

Is it as simple as adding?

    public function get_allowed_mapping_fields() {
        return array(
            'username' => get_string('username'),
            'email' => get_string('email'),
            'idnumber' => get_string('idnumber'),
            'id' => get_string('id'),
        );

[2020-10-15 10:01] amenk commented on #59
Doesn't work that easy, also I need it no longer.

[2020-10-15 10:01] #59 closed, assigned to nobody

[2020-10-28 14:29] amenk opened #60 "Creating a user and immediately logging in does not work"
I have auto create on and creating the user is working.

But the direct userkey login isn't.

If I put a delay of 10 seconds between creation an calling the moodle link, it works

Edit:

* Moodle version is 3.9 (Build: 20200615)

[2020-10-28 14:43] amenk commented on #60
I am getting this error logged

`[Wed Oct 28 15:40:32.845628 2020] [proxy_fcgi:error] [pid 266706] [client 127.0.0.1:48322] AH01071: Got error 'PHP message: PHP Warning:  session_regenerate_id(): Cannot regenerate session id - session is not active in public/lib/classes/session/manager.php on line 581', referer: https://shop.com.pub.lh/
`

Not sure if it is a timing problem or something random

[2020-10-28 16:09] amenk commented on #60
Findings during debugging:

I am deleting the user in mdl_user for testing and then call my external application.
In around 50% of the cases the login then does not work.

I can enforce this problem when I patch the module like this

    public function user_login_userkey() {
        global $SESSION, $CFG, $USER;

        require_logout();

I digged that down to this code being called:

        if

[2020-10-28 22:18] dmitriim commented on #60
Hi @amenk !
Will you be able to provide clear steps to replicate? From the description it's not 100% clear what the issue is and unfortunately without clear understanding it's quite hard to fix (or check if the provided patch actually fixes the issue).

[2020-10-29 17:09] amenk commented on #60
Hi @dmitriim ,

unfortunately I cannot really clearly reproduce.

Basically we have a Magento shop which request the token from the userkey endpoint, autocreate is on.
After the token is requested, the Magento shop forwards to the userkey login script with the token. This works many times, but more often than not, we are just not logged in on the Moodle side.

When using debug mode I get the "Cann

[2020-10-29 22:09] dmitriim commented on #60
@amenk

do you use a system web service user for generating a token?

_> In the end of the day I think my fix makes sense, because we don't really have to log out, when we log in anyways._

This could be true in your case, but that logic was added to fix a bug when we actually have an active session already and a different user is trying to login using the same browser. So we check if the user is

[2020-10-30 05:58] amenk commented on #60
What do you mean with system Webservice?
I added the token generating permission to an existing service, yes. I did not create a new webservice.

Do you think this makes a difference? Why?

I added the moodle version at the top post.

[2021-01-06 14:08] amenk opened #62 "Feature request: Set cohort on user creation"
Would it be in scope of this module (have changes to be merged) if we make a pull request that allows to set a cohort und user creation / update, similar like email and username can be set or would you suggest to do this on another place?

[2021-01-06 14:21] amenk commented on #62
Another option might be to polish https://github.com/catalyst/moodle-auth_userkey/pull/44 and use a profile-based-cohort-membership plugin in moodle.

[2021-01-06 22:26] dmitriim commented on #62
Hi @amenk

That would be the best option.

[2021-01-21 10:17] tylkomat opened #63 "Make a new admin setting to limit authentication for those with authentication method "User Key authentication""
Is this a bug or a feature?

[2021-02-19 19:25] wilmerterrero opened #64 "Invalid parameter value detected"
Hey guys

Im trying to get the loginURL using the function `auth_userkey_request_login_url` but I get the error: `Invalid parameter value detected`.

My goal is authenticate the moodle user in a external app and redirect the user to moodle.

This my way to get the url:
[code]

Data output:
![image](https://user-images.githubusercontent.com/59232366/108551374-41534780-72c6-11eb-945d-ea177caf7f51.pn

[2021-02-23 00:27] dmitriim commented on #64
@wilmerterrero can you please look at https://github.com/catalyst/moodle-auth_userkey/blob/MOODLE_33PLUS/README.md ?
it seems like you are passing wrong "user" param.

[2021-02-23 00:27] #64 closed, assigned to nobody

[2021-02-24 12:19] wilmerterrero commented on #64
I copy and paste the same example and prompts the same message:
![image](https://user-images.githubusercontent.com/59232366/108999693-09a71f80-7679-11eb-921c-25f369fff9e3.png)

[2021-02-25 02:11] dmitriim commented on #64
@wilmerterrero I'm not sure what part of the example you copied, but if you are getting this error, you are definitely doing something wrong. There could be may reasons. I'd suggest to start with https://docs.moodle.org/dev/Web_services and then maybe https://docs.moodle.org/dev/Creating_a_web_service_client Once you get at least one WS working you potentially will be able to figure out the rest.

[2021-03-17 16:37] emisorb opened #65 "Support for versions 3.9, 3.10, 3.11 and 4.0"

[2021-03-17 22:11] dmitriim commented on #63
It seems like a feature that is enabled by default. Agree that it should be optional. Feel free to submit a patch.

Rough specs would be:
- [ ] Add an admin option to enable or disable login using auth_userkey for users only with userkey auth  method.

[2021-03-17 22:14] dmitriim commented on #65
Theoretically it should just work in 3.9, 3.10 and 3.11. But feel free to submit a patch to check it out.

- [x] Move from travis to gitlab actions
- [x] Update version.php tp add support of  3.11, 40 and master
- [x] Fix broken tests
- [x] Manually test

[2021-03-19 14:22] digitalpraesidium opened #66 "Test script for plugin doesn't work always receiving "invalid parameter" error"
Hallo,

we are trying to use your plugin in order to apply a one time login to our Moodle platform (https://athenaeumtest.gruppoallconsulting.com) from our management system.

We have tried to run the PHP script we have found on GitHub like an example, after adjusting it with our parameters.
We have also changed the CURL library, using the native CURL of PHP instead of external library.

In attach

[2021-03-21 22:16] dmitriim commented on #66
hi @digitalpraesidium
I guess this error means that you are doing something wrong and sending a data in incorrect format or  incorrect structure. I'd suggest to call other core web services to make sure they work for you.
Maybe this docs will be useful of you https://docs.moodle.org/dev/Creating_a_web_service_client

[2021-03-21 22:16] #66 closed, assigned to nobody

[2021-03-24 05:07] dmitriim opened #67 "Switch to github actions"

[2021-07-13 18:44] jtsafran opened #68 "Feature request - Support "wants" in the URL at login for deep linking"
Like the SAML2 plugin, it would be nice to send a user directly to a specific page within Moodle after the login using the wants parameter so you can log a user directly.  I think it would make the most sense to append this to the end of the login key/url vs the API call, but either could work.

Workflow:

1. Call wsfunction=auth_userkey_request_login_url
2. Receive loginurl in response
3. Redirec

[2021-07-13 22:57] dmitriim commented on #68
Hi @jtsafran
This works as described, but you should pass 'wantsurl' in your URL. So in your example it should be loginurl?wantsurl=https://mymoodlesite.com/course/view.php?id=10

This feature outlined in README...

[2021-07-13 22:57] #68 closed, assigned to nobody

[2021-07-14 19:15] jtsafran commented on #68
@dmitriim Thank you so much!  I could have sworn I tried that, too, but looking back in my browser history I left the 's' out and had wanturl!

[2021-09-23 15:24] mariaivillanueva opened #70 "relogin again when session is expired"
is it possible to relogin again the user when session is expired without showing the login page?

[2021-09-28 00:22] dmitriim commented on #70
I guess you can set a custom login URL that will do re-login for you automatically https://docs.moodle.org/311/en/Managing_authentication#Alternate_login_URL

[2021-09-28 00:22] #70 closed, assigned to nobody

[2021-10-08 00:35] mubeshersajid1 opened #71 "Access control exception"
stdClass Object
(
    [exception] => webservice_access_exception
    [errorcode] => accessexception
    [message] => Access control exception
)

getting this error follow all instructions but did not get login url kindly help me my moodle version is 3.11

[2021-10-08 00:37] mubeshersajid1 commented on #65
stdClass Object
(
    [exception] => webservice_access_exception
    [errorcode] => accessexception
    [message] => Access control exception
)

getting this error follow all instructions but did not get login url kindly help me my moodle version is 3.11

[2021-10-08 00:49] dmitriim commented on #65
@mubeshersajid1  Hey! it doesn't look related specifically to 3.11. Seems like you haven't set it up Moodle Web services properly.

[2021-10-08 00:54] mubeshersajid1 commented on #65
can you help me to resolve this issue please

[2021-10-08 00:56] mubeshersajid1 commented on #65
my other web services working fine like i am creating user and getting courses detail but unfortunately this service is not working

[2021-10-08 00:58] dmitriim commented on #65
We don't have any clients using this plugin in 3.11, please contact our sales team if you would like to get extra support https://catalyst-au.net/contact-us

[2021-10-08 01:00] mubeshersajid1 commented on #65
thanks

[2021-10-08 01:01] dmitriim commented on #71
This plugin doesn't officially support 3.11 yet. However, this error doesn't look specific to this plugin. Please make sure that all your Moodle WS bits  are set up correctly.

[2021-10-19 14:26] ni-ght opened #72 "README.md - missing step: Authorise the webservice user"
In the README.md file, "Using" section,
perhaps a step is missing before creating the token (step 5):
_Authorise the webservice user_

Many thanks.

[2021-10-19 22:12] dmitriim commented on #72
Hi @ni-ght feel free to submit a fix if you think this will make Readme file better.

[2021-11-12 11:22] Hansos1 opened #73 "Expired User Key"
Hi, I get for a user the error 'expiredkey'; the user account was suspend; but after removeing the suspension I still get the error 'expiredkey'; how can I reinstate the key again? Thanks, Hans

[2021-11-14 21:21] dmitriim commented on #73
A user needs to get a new key to be able to login.

[2021-11-14 21:21] #73 closed, assigned to nobody

[2022-01-19 18:02] ni-ght commented on #72
Hello.

I see the pull request has been merged.
https://github.com/catalyst/moodle-auth_userkey/pull/74

Many thanks.

[2022-01-19 22:25] dmitriim commented on #72
thanks @ni-ght ! Closing the issue now

[2022-01-19 22:25] #72 closed, assigned to nobody

[2022-01-30 22:26] dmitriim commented on #67
Better to use reusable workflows. See https://github.com/catalyst/catalyst-moodle-workflows

[2022-02-24 15:02] toman92 commented on #65
Are there any plans to support v3.11? I installed this plugin today and I am getting 'Invalid parameter value detected' error message back.

I am using Postman to verify and get a proof of concept before trying it on my app but haven't had any luck.

I have tried enabling it to create the user if the user is not found but this returns the same error message. The full error response is:

[code]

St

[2022-02-27 21:22] dmitriim commented on #65
Hi @toman92 No plans at this stage. Feel free to submit a patch as per a list of tasks in this issue or contact our sales team if you would like us to prioritise this work https://catalyst-au.net/contact-us.

[2022-04-19 18:43] MAntonio95 opened #76 "Invalid token error"
Hi, I need help to correctly configure the plugin, I have already carried out the steps marked in the readme but when testing I get the error 'invalidtoken', it activated the web services assigned the permissions to the user and generated the token.
 The function I am looking for is to generate a url for my users previously registered as manual accounts and obtain a unique url for each user that c

[2022-04-26 16:30] MAntonio95 opened #77 "Example with java not work"
Hello, could you help me with the following problem I am trying to connect the plugin using Java, I have this example https://github.com/moodlehq/sample-ws-clients/blob/master/JAVA-REST/RestJsonMoodleClient.java but not wok wtih auth_userkey

 public static void main(String[] args) throws ProtocolException, IOException {

        /// NEED TO BE CHANGED
        String token = "5c8f98ad33e867ff52409

[2022-04-26 23:57] dmitriim commented on #77
Have you tried changing
`String urlParameters = "user[0][username]=" + URLEncoder.encode("sistemasadmin", "UTF-8");`

 to

`String urlParameters = "user[username]=" + URLEncoder.encode("sistemasadmin", "UTF-8");`

[2022-05-14 13:44] seferdemirci opened #78 "Moodle v4.0 Support"
As I see, the plugin supports Moodle v3.8, which was released on 18 November 2019. So the plugin almost has no support for 3 years. Any update on your agenda?

I'm really new to Moodle environment. I wish to make PR but I don't have any idea about Moodle development.

[2022-05-14 14:01] seferdemirci commented on #78
Sorry for the misunderstanding. I tested and it works on Moodle v4.0

[2022-05-14 14:01] #78 closed, assigned to nobody

[2022-05-15 23:20] dmitriim commented on #78
HI @seferdemirci
Generally if underlining APIs have not changed in Moodle core, the plugin should keep working in the next version of Moodle. We don't have any clients on 4.0 who uses this plugin yet. So PR is welcome as usually. Alternatively please contact our sales team if you would like to sponsor upgrading this plugin to be 100% sure it works as expected in 4.0 https://catalyst-au.net/contact

[2022-06-03 06:55] #67 closed, assigned to nobody

[2022-06-03 06:55] dmitriim commented on #67
completed

[2022-08-18 18:33] miguelurtado commented on #65
Hello this work for me in Moodle 3.11.7 - Check Moodle settings **extended characters in usernames** and **Password policy**

Good Lock

[2022-08-18 22:58] dmitriim commented on #62
Hey @amenk ! Good news. We have recently released a new plugin that can help you achieving what you require.  Please have a look at https://github.com/catalyst/moodle-tool_cohortmanager

I'm closing this one off as "won't fix".

[2022-08-18 22:58] #62 closed, assigned to nobody

[2022-08-19 01:12] dmitriim commented on #65
Ok. Looks like CI is not getting exploded all the way to 4.1. Looks like the plugin should work in all these versions.

[2022-09-03 05:04] mrezash opened #84 "invalid parameter exception"
Array ( [user] => Array ( [username] => admin ) ) stdClass Object ( [exception] => invalid_parameter_exception [errorcode] => invalidparameter [message] => مقدار نامعتبر در پارامتر )

Moodle 3.11.5+ (Build: 20220311)

[2022-09-03 05:11] mrezash commented on #84
(Only arrays accepted. The bad value is: 'Array'): Only arrays accepted. The bad value is: 'Array') [debuginfo] => user => مقدار نامعتبر در پارامتر (Only arrays accepted. The bad value is: 'Array'): Only arrays accepted. The bad value is: 'Array' )

[2022-09-03 05:19] mrezash commented on #84
i change the curl.php file and it works for me

[2022-09-03 05:19] #84 closed, assigned to nobody

[2022-09-04 23:02] dmitriim opened #85 "Add optional user profile fields"
Would be useful to be able to populate all available user fields (including custom user profile fields) on user creation.

[2022-09-04 23:04] dmitriim commented on #43
This one is probably the same as https://github.com/catalyst/moodle-auth_userkey/issues/85

[2022-09-09 20:33] pj-alvarado10 opened #86 "Error auth userkey incorrect logout"
When I try to use the url of logout `http://yourmoodle.com/auth/userkey/logout.php?return=www.google.com ` (change the values of "yourmoodle") I get the error "Incorrect logout request". If I put an url to redirect in logout in the settings of the plugin and I logout, the page is not redirected to that page.

[2022-09-11 23:59] dmitriim commented on #86
Hi @pj-alvarado10 ! Thank you for reporting this issue.

Can you please confirm that the user trying to logout has 'userkey' auth method?

The logic of logout is pretty straight forward https://github.com/catalyst/moodle-auth_userkey/blob/e60e6d4705cb478991189702c2142262be0677ea/auth.php#L642

If you are getting 'Incorrect logout request' that  means a user is not logged in or $USER->auth  is not

[2022-09-12 14:53] pj-alvarado10 commented on #86
Thank you, I will review it and I will confirm you about that.
If I want to use this logout I need login only by userkey?
The console log of the error is "Failed to load resource: the server responded with a status of 404 (Not Found) in logout.php"

[2022-09-12 22:20] pj-alvarado10 commented on #86
Hi, I checked it and I use the userkey login, but the error is the same: Failed to load resource: the server responded with a status of 404 (Not Found) in logout.php:1.

Do I need to do a change in the theme? Maybe delete the sesskey in the login?

[2022-09-12 23:35] dmitriim commented on #86
I'm confused about your message. Your initial error was "Incorrect logout request". If your user has auth method set to userkey, then it's potentially a bug in the plugin.
Would be good if you can provide more information on how to replicate it like moodle version, full list of  steps to replicate.
As usual patch is very welcome.

[2022-09-13 00:36] pj-alvarado10 commented on #86
![image](https://user-images.githubusercontent.com/25305437/189783402-bde6faae-1ac9-42bf-88e4-5805c2f58958.png)

I use this service to login and I redirect to the url returned.

In moodle, I have the configuration with the url that I want to redirect the logout:

![image](https://user-images.githubusercontent.com/25305437/189781822-7cfd7f2a-896b-41b9-a93a-05b85909fc78.png)

An when I tried to writ

[2022-09-17 09:20] janbucher commented on #60
This issue still persists, I can reproduce it with a vanilla Moodle 4, and the example script from the plugin.

I think this is mainly a problem for developers: New users will not be logged in, if an existing user is logged in for the same browser session. In this case, the old user is logged out first, but the link expired and therefore login fails.

Therefore, unless you need to have multiple us

[2022-09-18 22:22] dmitriim commented on #60
Hi @janbucher

I think now I understand a scenario you are facing.

1. User tries to login, but there is another active session for another user.
2. Currently active is forced to loge out.
3. However, the one that tires to log in never gets logged in as his key already expired/deleted and hence login is broken.

Can you please confirm?

If it's so, then it's 100% a bug as I would expect initial us

[2022-09-19 13:14] janbucher commented on #60
@dmitriim yes, this is the behavior we observe.

There are two unexpected scenarios for the user: If an active session is present, she will be prompted to login, if she reuses the link, it will be expired.

[2022-09-23 18:42] pj-alvarado10 commented on #86
Hi, I want to say that the login feature works now! I restart or reboot the moodle machine and it works.

[2022-09-23 18:42] #86 closed, assigned to nobody

[2022-10-18 00:23] arcjawsh commented on #71
Hoping I can help - after running into this issue and debugging with xdebug I found that I had done everything **BUT** enable the plugin in the manage authentication section.

[2022-10-18 00:50] dmitriim commented on #71
Good point @arcjawsh thanks!
We may need to add this to a readme section of the plugin. Pull request is welcome.

[2022-11-28 21:06] taufpate opened #88 "Mobile App"
there is any way to login in custom moodle mobile app to login using this user key authentication?